 *{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
 }
 
 .paragraph {
    text-align: center;
    /* padding-left: 10%;
    padding-right: 10%; */
    font-size: large;
    font-weight: bold;
    padding: 5%
 }

 .para {
    text-align: justify;
    padding-right: 10%;
 }

 iframe{
     padding-left: 10%;
 }
 
 .catImg{
   height: 500px;
   width: 350px; 
}
