 *{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
 }
 
 .paragraph {
    text-align: center;
    /* padding-left: 10%;
    padding-right: 10%; */
    font-size: large;
    font-weight: bold;
    padding: 2%
 }

 .para {
    text-align: justify;
    padding-left: 15%; 
     padding-top: 3%;
 }

 iframe{
     padding-left: 10%;
 }
 
 .catImg{
   height: 500px;
   width: 350px; 
   margin-left: 25%;
   
}

.dividerRow2 {
   background: url("https://wallpapercave.com/wp/wp2544022.jpg");
   /* background: url(../assets/onur-binay-E18nZ_OHh04-unsplash.jpg); */
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-clip: padding-box;
   background-position: center;
   background-size: cover;
 }
 .paragraph1{
   padding-right: 15%; 
   text-align: justify;


 }