@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

html {
  overflow-x: hidden;
}

.loadingImg {
  margin-top: 200px;
  width: 500px;
}

/* .infoStyle {
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: oblique;
  font-size: large;
} */

.adoptedCard {
  position: absolute;
  height: 22rem;
  width: 22rem;
  margin-left: 0.9%;
  margin-top: 0.8%;
  background-color: rgba(31, 31, 31, 0.644);
  z-index: 2;
  text-align: center;
  font-size: 5rem;
  color: white;
}

.adoptedCard p {
  font-size: 2rem;
}

.blogcard {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: initial;
}

.mask {
  background-color: rgba(251, 251, 251, 0.15);
}

.container {
  position: relative;
  text-align: center;
  color: black;
}

/* Bottom left text */
.center-left {
  position: absolute;
  top: 300px;
  left: 16px;
  font-family: cursive;
  font-size: 50px;
}

.bottom-left {
  position: absolute;
  bottom: 50px;
  left: 16px;
  font-family: cursive;
  font-size: 20px;
}

.heroCaption {
  background-color: rgba(24, 24, 24, 0.534);
}

.bg-dark {
  background-color: #272727 !important;
}

.bg-success {
  background-color: #50d890 !important;
}

.btn-primary {
  color: #fff;
  background-color: #4f98ca;
  border-color: #4f98ca;
}

.dividerRow {
  background: url(./assets/krista-mangulsone-9gz3wfHr65U-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-clip: padding-box;
  background-position: center;
  background-size: cover;
}

.blogCol {
  font-family: "Anton", sans-serif !important;
  background-color: #4f98ca !important;
}

.blogCol2 {
  font-family: "Anton", sans-serif !important;
  background-color: #50d890 !important;
}

.blogCol3 {
  font-family: "Anton", sans-serif !important;
}
