.loadingImg {
  margin-top: 200px;
  width: 500px;
}


.infoStyle{
	color:black;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-style: oblique;
	font-size: large;
	background-color: lightgreen
}
.buttons:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.buttons:active {
	position:relative;
	top:1px;
}
.d-block,w-100,h-20{
/* width: 50%; */
height: 850px;
border: 4px solid #ddd;
	
}

.blogcard{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-style: initial;
}
.mb-5 {
background: rgba(90, 87, 87, 0.404);

}

.mask{

	background-color: rgba(251, 251, 251, 0.15)
}

.container {
	position: relative;
	text-align: center;
	color: black;
  }
  
  /* Bottom left text */
  .center-left {
	position: absolute;
	top: 350px;
	left: 16px;
	font-family: cursive;
	font-size: 50px;
  }

  .bottom-left{
	position: absolute;
	bottom: 50px;
	left: 16px;
	font-family: cursive;
	font-size: 20px;
  }