.loadingImg {
  margin-top: 200px;
  width: 500px;
}

/* .buttons {
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
} */
.buttons:hover {
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
}
.buttons:active {
  position: relative;
  top: 1px;
}
.d-block,
w-100,
h-20 {
  /* width: 50%; */
  height: 850px;
  border: 4px solid #ddd;
}

.adoptedCard {
  position: absolute;
  height: 22rem;
  width: 22rem;
  margin-left: 0.9%;
  margin-top: 0.8%;
  background-color: rgba(31, 31, 31, 0.644);
  z-index: 2;
  text-align: center;
  font-size: 5rem;
  color: white;
}

.adoptedCard p {
  font-size: 2rem;
}
